# Explicit Indexes

## Setting & removing indexes

In [1]:
import pandas as pd

In [2]:
temperatures = pd.read_csv('datasets/temperatures.csv')

In [3]:
# Look at temperatures
print(temperatures)

# Index temperatures by city
temperatures_ind = temperatures.set_index("city")

# Look at temperatures_ind
print(temperatures_ind)

# Reset the index, keeping its contents
print(temperatures_ind.reset_index())

# Reset the index, dropping its contents
print(temperatures_ind.reset_index(drop=True))

             date     city        country  avg_temp_c
0      2000-01-01  Abidjan  Côte D'Ivoire      27.293
1      2000-02-01  Abidjan  Côte D'Ivoire      27.685
2      2000-03-01  Abidjan  Côte D'Ivoire      29.061
3      2000-04-01  Abidjan  Côte D'Ivoire      28.162
4      2000-05-01  Abidjan  Côte D'Ivoire      27.547
5      2000-06-01  Abidjan  Côte D'Ivoire      25.812
6      2000-07-01  Abidjan  Côte D'Ivoire      24.870
7      2000-08-01  Abidjan  Côte D'Ivoire      24.884
8      2000-09-01  Abidjan  Côte D'Ivoire      25.405
9      2000-10-01  Abidjan  Côte D'Ivoire      26.074
10     2000-11-01  Abidjan  Côte D'Ivoire      27.315
11     2000-12-01  Abidjan  Côte D'Ivoire      26.929
12     2001-01-01  Abidjan  Côte D'Ivoire      26.920
13     2001-02-01  Abidjan  Côte D'Ivoire      28.234
14     2001-03-01  Abidjan  Côte D'Ivoire      28.706
15     2001-04-01  Abidjan  Côte D'Ivoire      27.702
16     2001-05-01  Abidjan  Côte D'Ivoire      27.653
17     2001-06-01  Abidjan  Côte D'Ivoire      25.940
18     2001-07-01  Abidjan  Côte D'Ivoire      24.841
19     2001-08-01  Abidjan  Côte D'Ivoire      24.280
20     2001-09-01  Abidjan  Côte D'Ivoire      24.797
21     2001-10-01  Abidjan  Côte D'Ivoire      26.278
22     2001-11-01  Abidjan  Côte D'Ivoire      27.374
23     2001-12-01  Abidjan  Côte D'Ivoire      27.598
24     2002-01-01  Abidjan  Côte D'Ivoire      27.192
25     2002-02-01  Abidjan  Côte D'Ivoire      28.796
26     2002-03-01  Abidjan  Côte D'Ivoire      28.564
27     2002-04-01  Abidjan  Côte D'Ivoire      28.508
28     2002-05-01  Abidjan  Côte D'Ivoire      27.721
29     2002-06-01  Abidjan  Côte D'Ivoire      25.972
...           ...      ...            ...         ...
16470  2011-04-01     Xian          China      14.876
16471  2011-05-01     Xian          China      18.225
16472  2011-06-01     Xian          China      23.879
16473  2011-07-01     Xian          China      24.895
16474  2011-08-01     Xian          China      23.069
16475  2011-09-01     Xian          China      16.775
16476  2011-10-01     Xian          China      12.587
16477  2011-11-01     Xian          China       7.543
16478  2011-12-01     Xian          China      -0.490
16479  2012-01-01     Xian          China      -2.416
16480  2012-02-01     Xian          China       0.162
16481  2012-03-01     Xian          China       6.430
16482  2012-04-01     Xian          China      14.908
16483  2012-05-01     Xian          China      19.041
16484  2012-06-01     Xian          China      22.781
16485  2012-07-01     Xian          China      24.646
16486  2012-08-01     Xian          China      23.885
16487  2012-09-01     Xian          China      17.028
16488  2012-10-01     Xian          China      12.399
16489  2012-11-01     Xian          China       4.736
16490  2012-12-01     Xian          China      -0.822
16491  2013-01-01     Xian          China      -1.635
16492  2013-02-01     Xian          China       2.362
16493  2013-03-01     Xian          China      10.110
16494  2013-04-01     Xian          China      12.563
16495  2013-05-01     Xian          China      18.979
16496  2013-06-01     Xian          China      23.522
16497  2013-07-01     Xian          China      25.251
16498  2013-08-01     Xian          China      24.528
16499  2013-09-01     Xian          China         NaN

[16500 rows x 4 columns]
               date        country  avg_temp_c
city
Abidjan  2000-01-01  Côte D'Ivoire      27.293
Abidjan  2000-02-01  Côte D'Ivoire      27.685
Abidjan  2000-03-01  Côte D'Ivoire      29.061
Abidjan  2000-04-01  Côte D'Ivoire      28.162
Abidjan  2000-05-01  Côte D'Ivoire      27.547
Abidjan  2000-06-01  Côte D'Ivoire      25.812
Abidjan  2000-07-01  Côte D'Ivoire      24.870
Abidjan  2000-08-01  Côte D'Ivoire      24.884
Abidjan  2000-09-01  Côte D'Ivoire      25.405
Abidjan  2000-10-01  Côte D'Ivoire      26.074
Abidjan  2000-11-01  Côte D'Ivoire      27.315
Abidjan  2000-12-01  Côte D'Ivoire      26.929
Abidjan  2001-01-01  Côte D'Ivoire      26.920
Abidjan  2001-02-01  Côte D'Ivoire      28.234
Abidjan  2001-03-01  Côte D'Ivoire      28.706
Abidjan  2001-04-01  Côte D'Ivoire      27.702
Abidjan  2001-05-01  Côte D'Ivoire      27.653
Abidjan  2001-06-01  Côte D'Ivoire      25.940
Abidjan  2001-07-01  Côte D'Ivoire      24.841
Abidjan  2001-08-01  Côte D'Ivoire      24.280
Abidjan  2001-09-01  Côte D'Ivoire      24.797
Abidjan  2001-10-01  Côte D'Ivoire      26.278
Abidjan  2001-11-01  Côte D'Ivoire      27.374
Abidjan  2001-12-01  Côte D'Ivoire      27.598
Abidjan  2002-01-01  Côte D'Ivoire      27.192
Abidjan  2002-02-01  Côte D'Ivoire      28.796
Abidjan  2002-03-01  Côte D'Ivoire      28.564
Abidjan  2002-04-01  Côte D'Ivoire      28.508
Abidjan  2002-05-01  Côte D'Ivoire      27.721
Abidjan  2002-06-01  Côte D'Ivoire      25.972
...             ...            ...         ...
Xian     2011-04-01          China      14.876
Xian     2011-05-01          China      18.225
Xian     2011-06-01          China      23.879
Xian     2011-07-01          China      24.895
Xian     2011-08-01          China      23.069
Xian     2011-09-01          China      16.775
Xian     2011-10-01          China      12.587
Xian     2011-11-01          China       7.543
Xian     2011-12-01          China      -0.490
Xian     2012-01-01          China      -2.416
Xian     2012-02-01          China       0.162
Xian     2012-03-01          China       6.430
Xian     2012-04-01          China      14.908
Xian     2012-05-01          China      19.041
Xian     2012-06-01          China      22.781
Xian     2012-07-01          China      24.646
Xian     2012-08-01          China      23.885
Xian     2012-09-01          China      17.028
Xian     2012-10-01          China      12.399
Xian     2012-11-01          China       4.736
Xian     2012-12-01          China      -0.822
Xian     2013-01-01          China      -1.635
Xian     2013-02-01          China       2.362
Xian     2013-03-01          China      10.110
Xian     2013-04-01          China      12.563
Xian     2013-05-01          China      18.979
Xian     2013-06-01          China      23.522
Xian     2013-07-01          China      25.251
Xian     2013-08-01          China      24.528
Xian     2013-09-01          China         NaN

[16500 rows x 3 columns]
          city        date        country  avg_temp_c
0      Abidjan  2000-01-01  Côte D'Ivoire      27.293
1      Abidjan  2000-02-01  Côte D'Ivoire      27.685
2      Abidjan  2000-03-01  Côte D'Ivoire      29.061
3      Abidjan  2000-04-01  Côte D'Ivoire      28.162
4      Abidjan  2000-05-01  Côte D'Ivoire      27.547
5      Abidjan  2000-06-01  Côte D'Ivoire      25.812
6      Abidjan  2000-07-01  Côte D'Ivoire      24.870
7      Abidjan  2000-08-01  Côte D'Ivoire      24.884
8      Abidjan  2000-09-01  Côte D'Ivoire      25.405
9      Abidjan  2000-10-01  Côte D'Ivoire      26.074
10     Abidjan  2000-11-01  Côte D'Ivoire      27.315
11     Abidjan  2000-12-01  Côte D'Ivoire      26.929
12     Abidjan  2001-01-01  Côte D'Ivoire      26.920
13     Abidjan  2001-02-01  Côte D'Ivoire      28.234
14     Abidjan  2001-03-01  Côte D'Ivoire      28.706
15     Abidjan  2001-04-01  Côte D'Ivoire      27.702
16     Abidjan  2001-05-01  Côte D'Ivoire      27.653
17     Abidjan  2001-06-01  Côte D'Ivoire      25.940
18     Abidjan  2001-07-01  Côte D'Ivoire      24.841
19     Abidjan  2001-08-01  Côte D'Ivoire      24.280
20     Abidjan  2001-09-01  Côte D'Ivoire      24.797
21     Abidjan  2001-10-01  Côte D'Ivoire      26.278
22     Abidjan  2001-11-01  Côte D'Ivoire      27.374
23     Abidjan  2001-12-01  Côte D'Ivoire      27.598
24     Abidjan  2002-01-01  Côte D'Ivoire      27.192
25     Abidjan  2002-02-01  Côte D'Ivoire      28.796
26     Abidjan  2002-03-01  Côte D'Ivoire      28.564
27     Abidjan  2002-04-01  Côte D'Ivoire      28.508
28     Abidjan  2002-05-01  Côte D'Ivoire      27.721
29     Abidjan  2002-06-01  Côte D'Ivoire      25.972
...        ...         ...            ...         ...
16470     Xian  2011-04-01          China      14.876
16471     Xian  2011-05-01          China      18.225
16472     Xian  2011-06-01          China      23.879
16473     Xian  2011-07-01          China      24.895
16474     Xian  2011-08-01          China      23.069
16475     Xian  2011-09-01          China      16.775
16476     Xian  2011-10-01          China      12.587
16477     Xian  2011-11-01          China       7.543
16478     Xian  2011-12-01          China      -0.490
16479     Xian  2012-01-01          China      -2.416
16480     Xian  2012-02-01          China       0.162
16481     Xian  2012-03-01          China       6.430
16482     Xian  2012-04-01          China      14.908
16483     Xian  2012-05-01          China      19.041
16484     Xian  2012-06-01          China      22.781
16485     Xian  2012-07-01          China      24.646
16486     Xian  2012-08-01          China      23.885
16487     Xian  2012-09-01          China      17.028
16488     Xian  2012-10-01          China      12.399
16489     Xian  2012-11-01          China       4.736
16490     Xian  2012-12-01          China      -0.822
16491     Xian  2013-01-01          China      -1.635
16492     Xian  2013-02-01          China       2.362
16493     Xian  2013-03-01          China      10.110
16494     Xian  2013-04-01          China      12.563
16495     Xian  2013-05-01          China      18.979
16496     Xian  2013-06-01          China      23.522
16497     Xian  2013-07-01          China      25.251
16498     Xian  2013-08-01          China      24.528
16499     Xian  2013-09-01          China         NaN

[16500 rows x 4 columns]
             date        country  avg_temp_c
0      2000-01-01  Côte D'Ivoire      27.293
1      2000-02-01  Côte D'Ivoire      27.685
2      2000-03-01  Côte D'Ivoire      29.061
3      2000-04-01  Côte D'Ivoire      28.162
4      2000-05-01  Côte D'Ivoire      27.547
5      2000-06-01  Côte D'Ivoire      25.812
6      2000-07-01  Côte D'Ivoire      24.870
7      2000-08-01  Côte D'Ivoire      24.884
8      2000-09-01  Côte D'Ivoire      25.405
9      2000-10-01  Côte D'Ivoire      26.074
10     2000-11-01  Côte D'Ivoire      27.315
11     2000-12-01  Côte D'Ivoire      26.929
12     2001-01-01  Côte D'Ivoire      26.920
13     2001-02-01  Côte D'Ivoire      28.234
14     2001-03-01  Côte D'Ivoire      28.706
15     2001-04-01  Côte D'Ivoire      27.702
16     2001-05-01  Côte D'Ivoire      27.653
17     2001-06-01  Côte D'Ivoire      25.940
18     2001-07-01  Côte D'Ivoire      24.841
19     2001-08-01  Côte D'Ivoire      24.280
20     2001-09-01  Côte D'Ivoire      24.797
21     2001-10-01  Côte D'Ivoire      26.278
22     2001-11-01  Côte D'Ivoire      27.374
23     2001-12-01  Côte D'Ivoire      27.598
24     2002-01-01  Côte D'Ivoire      27.192
25     2002-02-01  Côte D'Ivoire      28.796
26     2002-03-01  Côte D'Ivoire      28.564
27     2002-04-01  Côte D'Ivoire      28.508
28     2002-05-01  Côte D'Ivoire      27.721
29     2002-06-01  Côte D'Ivoire      25.972
...           ...            ...         ...
16470  2011-04-01          China      14.876
16471  2011-05-01          China      18.225
16472  2011-06-01          China      23.879
16473  2011-07-01          China      24.895
16474  2011-08-01          China      23.069
16475  2011-09-01          China      16.775
16476  2011-10-01          China      12.587
16477  2011-11-01          China       7.543
16478  2011-12-01          China      -0.490
16479  2012-01-01          China      -2.416
16480  2012-02-01          China       0.162
16481  2012-03-01          China       6.430
16482  2012-04-01          China      14.908
16483  2012-05-01          China      19.041
16484  2012-06-01          China      22.781
16485  2012-07-01          China      24.646
16486  2012-08-01          China      23.885
16487  2012-09-01          China      17.028
16488  2012-10-01          China      12.399
16489  2012-11-01          China       4.736
16490  2012-12-01          China      -0.822
16491  2013-01-01          China      -1.635
16492  2013-02-01          China       2.362
16493  2013-03-01          China      10.110
16494  2013-04-01          China      12.563
16495  2013-05-01          China      18.979
16496  2013-06-01          China      23.522
16497  2013-07-01          China      25.251
16498  2013-08-01          China      24.528
16499  2013-09-01          China         NaN

[16500 rows x 3 columns]

## Subsetting with .loc[]

In [4]:
# Make a list of cities to subset on
cities = ["Moscow", "Saint Petersburg"]

# Subset temperatures using square brackets
print(temperatures[temperatures["city"].isin(cities)])

# Subset temperatures_ind using .loc[]
print(temperatures_ind.loc[cities])

             date              city country  avg_temp_c
10725  2000-01-01            Moscow  Russia      -7.313
10726  2000-02-01            Moscow  Russia      -3.551
10727  2000-03-01            Moscow  Russia      -1.661
10728  2000-04-01            Moscow  Russia      10.096
10729  2000-05-01            Moscow  Russia      10.357
10730  2000-06-01            Moscow  Russia      15.243
10731  2000-07-01            Moscow  Russia      18.676
10732  2000-08-01            Moscow  Russia      16.420
10733  2000-09-01            Moscow  Russia       9.775
10734  2000-10-01            Moscow  Russia       6.611
10735  2000-11-01            Moscow  Russia      -0.168
10736  2000-12-01            Moscow  Russia      -2.954
10737  2001-01-01            Moscow  Russia      -4.914
10738  2001-02-01            Moscow  Russia      -7.761
10739  2001-03-01            Moscow  Russia      -2.833
10740  2001-04-01            Moscow  Russia      10.055
10741  2001-05-01            Moscow  Russia      11.012
10742  2001-06-01            Moscow  Russia      15.733
10743  2001-07-01            Moscow  Russia      22.306
10744  2001-08-01            Moscow  Russia      16.576
10745  2001-09-01            Moscow  Russia      11.631
10746  2001-10-01            Moscow  Russia       4.778
10747  2001-11-01            Moscow  Russia      -0.865
10748  2001-12-01            Moscow  Russia     -11.924
10749  2002-01-01            Moscow  Russia      -5.558
10750  2002-02-01            Moscow  Russia      -1.074
10751  2002-03-01            Moscow  Russia       1.883
10752  2002-04-01            Moscow  Russia       6.496
10753  2002-05-01            Moscow  Russia      12.188
10754  2002-06-01            Moscow  Russia      16.590
...           ...               ...     ...         ...
13335  2011-04-01  Saint Petersburg  Russia       4.146
13336  2011-05-01  Saint Petersburg  Russia       9.442
13337  2011-06-01  Saint Petersburg  Russia      15.823
13338  2011-07-01  Saint Petersburg  Russia      20.389
13339  2011-08-01  Saint Petersburg  Russia      16.426
13340  2011-09-01  Saint Petersburg  Russia      12.704
13341  2011-10-01  Saint Petersburg  Russia       7.691
13342  2011-11-01  Saint Petersburg  Russia       4.454
13343  2011-12-01  Saint Petersburg  Russia       2.647
13344  2012-01-01  Saint Petersburg  Russia      -5.211
13345  2012-02-01  Saint Petersburg  Russia     -10.957
13346  2012-03-01  Saint Petersburg  Russia      -1.624
13347  2012-04-01  Saint Petersburg  Russia       2.877
13348  2012-05-01  Saint Petersburg  Russia      10.349
13349  2012-06-01  Saint Petersburg  Russia      12.955
13350  2012-07-01  Saint Petersburg  Russia      17.733
13351  2012-08-01  Saint Petersburg  Russia      15.219
13352  2012-09-01  Saint Petersburg  Russia      12.251
13353  2012-10-01  Saint Petersburg  Russia       6.208
13354  2012-11-01  Saint Petersburg  Russia       3.448
13355  2012-12-01  Saint Petersburg  Russia      -7.316
13356  2013-01-01  Saint Petersburg  Russia      -6.218
13357  2013-02-01  Saint Petersburg  Russia      -3.228
13358  2013-03-01  Saint Petersburg  Russia      -8.178
13359  2013-04-01  Saint Petersburg  Russia       2.167
13360  2013-05-01  Saint Petersburg  Russia      12.355
13361  2013-06-01  Saint Petersburg  Russia      17.185
13362  2013-07-01  Saint Petersburg  Russia      17.234
13363  2013-08-01  Saint Petersburg  Russia      17.153
13364  2013-09-01  Saint Petersburg  Russia         NaN

[330 rows x 4 columns]
                        date country  avg_temp_c
city
Moscow            2000-01-01  Russia      -7.313
Moscow            2000-02-01  Russia      -3.551
Moscow            2000-03-01  Russia      -1.661
Moscow            2000-04-01  Russia      10.096
Moscow            2000-05-01  Russia      10.357
Moscow            2000-06-01  Russia      15.243
Moscow            2000-07-01  Russia      18.676
Moscow            2000-08-01  Russia      16.420
Moscow            2000-09-01  Russia       9.775
Moscow            2000-10-01  Russia       6.611
Moscow            2000-11-01  Russia      -0.168
Moscow            2000-12-01  Russia      -2.954
Moscow            2001-01-01  Russia      -4.914
Moscow            2001-02-01  Russia      -7.761
Moscow            2001-03-01  Russia      -2.833
Moscow            2001-04-01  Russia      10.055
Moscow            2001-05-01  Russia      11.012
Moscow            2001-06-01  Russia      15.733
Moscow            2001-07-01  Russia      22.306
Moscow            2001-08-01  Russia      16.576
Moscow            2001-09-01  Russia      11.631
Moscow            2001-10-01  Russia       4.778
Moscow            2001-11-01  Russia      -0.865
Moscow            2001-12-01  Russia     -11.924
Moscow            2002-01-01  Russia      -5.558
Moscow            2002-02-01  Russia      -1.074
Moscow            2002-03-01  Russia       1.883
Moscow            2002-04-01  Russia       6.496
Moscow            2002-05-01  Russia      12.188
Moscow            2002-06-01  Russia      16.590
...                      ...     ...         ...
Saint Petersburg  2011-04-01  Russia       4.146
Saint Petersburg  2011-05-01  Russia       9.442
Saint Petersburg  2011-06-01  Russia      15.823
Saint Petersburg  2011-07-01  Russia      20.389
Saint Petersburg  2011-08-01  Russia      16.426
Saint Petersburg  2011-09-01  Russia      12.704
Saint Petersburg  2011-10-01  Russia       7.691
Saint Petersburg  2011-11-01  Russia       4.454
Saint Petersburg  2011-12-01  Russia       2.647
Saint Petersburg  2012-01-01  Russia      -5.211
Saint Petersburg  2012-02-01  Russia     -10.957
Saint Petersburg  2012-03-01  Russia      -1.624
Saint Petersburg  2012-04-01  Russia       2.877
Saint Petersburg  2012-05-01  Russia      10.349
Saint Petersburg  2012-06-01  Russia      12.955
Saint Petersburg  2012-07-01  Russia      17.733
Saint Petersburg  2012-08-01  Russia      15.219
Saint Petersburg  2012-09-01  Russia      12.251
Saint Petersburg  2012-10-01  Russia       6.208
Saint Petersburg  2012-11-01  Russia       3.448
Saint Petersburg  2012-12-01  Russia      -7.316
Saint Petersburg  2013-01-01  Russia      -6.218
Saint Petersburg  2013-02-01  Russia      -3.228
Saint Petersburg  2013-03-01  Russia      -8.178
Saint Petersburg  2013-04-01  Russia       2.167
Saint Petersburg  2013-05-01  Russia      12.355
Saint Petersburg  2013-06-01  Russia      17.185
Saint Petersburg  2013-07-01  Russia      17.234
Saint Petersburg  2013-08-01  Russia      17.153
Saint Petersburg  2013-09-01  Russia         NaN

[330 rows x 3 columns]

## Setting multi-level indexes

In [5]:
# Index temperatures by country & city
temperatures_ind = temperatures.set_index(["country", "city"])

# List of tuples: Brazil, Rio De Janeiro & Pakistan, Lahore
rows_to_keep = [("Brazil", "Rio De Janeiro"), ("Pakistan", "Lahore")]

# Subset for rows to keep
print(temperatures_ind.loc[rows_to_keep])

                               date  avg_temp_c
country  city
Brazil   Rio De Janeiro  2000-01-01      25.974
         Rio De Janeiro  2000-02-01      26.699
         Rio De Janeiro  2000-03-01      26.270
         Rio De Janeiro  2000-04-01      25.750
         Rio De Janeiro  2000-05-01      24.356
         Rio De Janeiro  2000-06-01      24.059
         Rio De Janeiro  2000-07-01      22.049
         Rio De Janeiro  2000-08-01      22.447
         Rio De Janeiro  2000-09-01      22.099
         Rio De Janeiro  2000-10-01      23.844
         Rio De Janeiro  2000-11-01      23.601
         Rio De Janeiro  2000-12-01      25.209
         Rio De Janeiro  2001-01-01      26.852
         Rio De Janeiro  2001-02-01      27.992
         Rio De Janeiro  2001-03-01      27.559
         Rio De Janeiro  2001-04-01      27.281
         Rio De Janeiro  2001-05-01      24.784
         Rio De Janeiro  2001-06-01      24.773
         Rio De Janeiro  2001-07-01      23.822
         Rio De Janeiro  2001-08-01      23.598
         Rio De Janeiro  2001-09-01      22.412
         Rio De Janeiro  2001-10-01      22.259
         Rio De Janeiro  2001-11-01      23.689
         Rio De Janeiro  2001-12-01      24.848
         Rio De Janeiro  2002-01-01      26.016
         Rio De Janeiro  2002-02-01      26.140
         Rio De Janeiro  2002-03-01      27.786
         Rio De Janeiro  2002-04-01      26.730
         Rio De Janeiro  2002-05-01      25.657
         Rio De Janeiro  2002-06-01      25.293
...                             ...         ...
Pakistan Lahore          2011-04-01      26.235
         Lahore          2011-05-01      34.134
         Lahore          2011-06-01      34.013
         Lahore          2011-07-01      32.325
         Lahore          2011-08-01      31.273
         Lahore          2011-09-01      29.856
         Lahore          2011-10-01      26.483
         Lahore          2011-11-01      21.799
         Lahore          2011-12-01      14.259
         Lahore          2012-01-01      12.013
         Lahore          2012-02-01      14.180
         Lahore          2012-03-01      21.212
         Lahore          2012-04-01      26.697
         Lahore          2012-05-01      33.013
         Lahore          2012-06-01      35.649
         Lahore          2012-07-01      34.235
         Lahore          2012-08-01      31.900
         Lahore          2012-09-01      29.956
         Lahore          2012-10-01      25.480
         Lahore          2012-11-01      19.835
         Lahore          2012-12-01      14.263
         Lahore          2013-01-01      12.219
         Lahore          2013-02-01      15.414
         Lahore          2013-03-01      20.229
         Lahore          2013-04-01      27.056
         Lahore          2013-05-01      33.457
         Lahore          2013-06-01      34.456
         Lahore          2013-07-01      33.279
         Lahore          2013-08-01      31.511
         Lahore          2013-09-01         NaN

[330 rows x 2 columns]

## Sorting by index values

In [6]:
# Sort temperatures_ind by index values
print(temperatures_ind.sort_index())

# Sort temperatures_ind by index values at the city level
print(temperatures_ind.sort_index(level="city"))

# Sort temperatures_ind by country then descending city
print(temperatures_ind.sort_index(level=["country", "city"], ascending=[True, False]))

                          date  avg_temp_c
country     city
Afghanistan Kabul   2000-01-01       3.326
            Kabul   2000-02-01       3.454
            Kabul   2000-03-01       9.612
            Kabul   2000-04-01      17.925
            Kabul   2000-05-01      24.658
            Kabul   2000-06-01      25.582
            Kabul   2000-07-01      26.107
            Kabul   2000-08-01      25.459
            Kabul   2000-09-01      22.116
            Kabul   2000-10-01      16.806
            Kabul   2000-11-01       9.720
            Kabul   2000-12-01       5.107
            Kabul   2001-01-01       2.208
            Kabul   2001-02-01       5.567
            Kabul   2001-03-01      10.807
            Kabul   2001-04-01      16.587
            Kabul   2001-05-01      23.782
            Kabul   2001-06-01      25.905
            Kabul   2001-07-01      26.065
            Kabul   2001-08-01      25.149
            Kabul   2001-09-01      21.178
            Kabul   2001-10-01      16.552
            Kabul   2001-11-01      10.731
            Kabul   2001-12-01       5.644
            Kabul   2002-01-01       3.432
            Kabul   2002-02-01       4.735
            Kabul   2002-03-01      11.382
            Kabul   2002-04-01      15.668
            Kabul   2002-05-01      21.992
            Kabul   2002-06-01      25.957
...                        ...         ...
Zimbabwe    Harare  2011-04-01      21.151
            Harare  2011-05-01      19.022
            Harare  2011-06-01      16.512
            Harare  2011-07-01      15.315
            Harare  2011-08-01      17.287
            Harare  2011-09-01      22.377
            Harare  2011-10-01      24.353
            Harare  2011-11-01      24.380
            Harare  2011-12-01      22.857
            Harare  2012-01-01      22.334
            Harare  2012-02-01      22.943
            Harare  2012-03-01      22.254
            Harare  2012-04-01      19.129
            Harare  2012-05-01      18.853
            Harare  2012-06-01      16.119
            Harare  2012-07-01      15.406
            Harare  2012-08-01      18.191
            Harare  2012-09-01      22.206
            Harare  2012-10-01      22.692
            Harare  2012-11-01      23.474
            Harare  2012-12-01      22.679
            Harare  2013-01-01      22.235
            Harare  2013-02-01      22.737
            Harare  2013-03-01      22.051
            Harare  2013-04-01      20.180
            Harare  2013-05-01      18.298
            Harare  2013-06-01      17.020
            Harare  2013-07-01      16.299
            Harare  2013-08-01      19.232
            Harare  2013-09-01         NaN

[16500 rows x 2 columns]
                             date  avg_temp_c
country       city
Côte D'Ivoire Abidjan  2000-01-01      27.293
              Abidjan  2000-02-01      27.685
              Abidjan  2000-03-01      29.061
              Abidjan  2000-04-01      28.162
              Abidjan  2000-05-01      27.547
              Abidjan  2000-06-01      25.812
              Abidjan  2000-07-01      24.870
              Abidjan  2000-08-01      24.884
              Abidjan  2000-09-01      25.405
              Abidjan  2000-10-01      26.074
              Abidjan  2000-11-01      27.315
              Abidjan  2000-12-01      26.929
              Abidjan  2001-01-01      26.920
              Abidjan  2001-02-01      28.234
              Abidjan  2001-03-01      28.706
              Abidjan  2001-04-01      27.702
              Abidjan  2001-05-01      27.653
              Abidjan  2001-06-01      25.940
              Abidjan  2001-07-01      24.841
              Abidjan  2001-08-01      24.280
              Abidjan  2001-09-01      24.797
              Abidjan  2001-10-01      26.278
              Abidjan  2001-11-01      27.374
              Abidjan  2001-12-01      27.598
              Abidjan  2002-01-01      27.192
              Abidjan  2002-02-01      28.796
              Abidjan  2002-03-01      28.564
              Abidjan  2002-04-01      28.508
              Abidjan  2002-05-01      27.721
              Abidjan  2002-06-01      25.972
...                           ...         ...
China         Xian     2011-04-01      14.876
              Xian     2011-05-01      18.225
              Xian     2011-06-01      23.879
              Xian     2011-07-01      24.895
              Xian     2011-08-01      23.069
              Xian     2011-09-01      16.775
              Xian     2011-10-01      12.587
              Xian     2011-11-01       7.543
              Xian     2011-12-01      -0.490
              Xian     2012-01-01      -2.416
              Xian     2012-02-01       0.162
              Xian     2012-03-01       6.430
              Xian     2012-04-01      14.908
              Xian     2012-05-01      19.041
              Xian     2012-06-01      22.781
              Xian     2012-07-01      24.646
              Xian     2012-08-01      23.885
              Xian     2012-09-01      17.028
              Xian     2012-10-01      12.399
              Xian     2012-11-01       4.736
              Xian     2012-12-01      -0.822
              Xian     2013-01-01      -1.635
              Xian     2013-02-01       2.362
              Xian     2013-03-01      10.110
              Xian     2013-04-01      12.563
              Xian     2013-05-01      18.979
              Xian     2013-06-01      23.522
              Xian     2013-07-01      25.251
              Xian     2013-08-01      24.528
              Xian     2013-09-01         NaN

[16500 rows x 2 columns]
                          date  avg_temp_c
country     city
Afghanistan Kabul   2000-01-01       3.326
            Kabul   2000-02-01       3.454
            Kabul   2000-03-01       9.612
            Kabul   2000-04-01      17.925
            Kabul   2000-05-01      24.658
            Kabul   2000-06-01      25.582
            Kabul   2000-07-01      26.107
            Kabul   2000-08-01      25.459
            Kabul   2000-09-01      22.116
            Kabul   2000-10-01      16.806
            Kabul   2000-11-01       9.720
            Kabul   2000-12-01       5.107
            Kabul   2001-01-01       2.208
            Kabul   2001-02-01       5.567
            Kabul   2001-03-01      10.807
            Kabul   2001-04-01      16.587
            Kabul   2001-05-01      23.782
            Kabul   2001-06-01      25.905
            Kabul   2001-07-01      26.065
            Kabul   2001-08-01      25.149
            Kabul   2001-09-01      21.178
            Kabul   2001-10-01      16.552
            Kabul   2001-11-01      10.731
            Kabul   2001-12-01       5.644
            Kabul   2002-01-01       3.432
            Kabul   2002-02-01       4.735
            Kabul   2002-03-01      11.382
            Kabul   2002-04-01      15.668
            Kabul   2002-05-01      21.992
            Kabul   2002-06-01      25.957
...                        ...         ...
Zimbabwe    Harare  2011-04-01      21.151
            Harare  2011-05-01      19.022
            Harare  2011-06-01      16.512
            Harare  2011-07-01      15.315
            Harare  2011-08-01      17.287
            Harare  2011-09-01      22.377
            Harare  2011-10-01      24.353
            Harare  2011-11-01      24.380
            Harare  2011-12-01      22.857
            Harare  2012-01-01      22.334
            Harare  2012-02-01      22.943
            Harare  2012-03-01      22.254
            Harare  2012-04-01      19.129
            Harare  2012-05-01      18.853
            Harare  2012-06-01      16.119
            Harare  2012-07-01      15.406
            Harare  2012-08-01      18.191
            Harare  2012-09-01      22.206
            Harare  2012-10-01      22.692
            Harare  2012-11-01      23.474
            Harare  2012-12-01      22.679
            Harare  2013-01-01      22.235
            Harare  2013-02-01      22.737
            Harare  2013-03-01      22.051
            Harare  2013-04-01      20.180
            Harare  2013-05-01      18.298
            Harare  2013-06-01      17.020
            Harare  2013-07-01      16.299
            Harare  2013-08-01      19.232
            Harare  2013-09-01         NaN

[16500 rows x 2 columns]

# Slicing and subsetting with .loc and .iloc

## Slicing index values

In [8]:
# Sort the index of temperatures_ind
temperatures_srt = temperatures_ind.sort_index()

# Subset rows from Pakistan to Russia
print(temperatures_srt.loc["Pakistan":"Russia"])

# Try to subset rows from Lahore to Moscow
print(temperatures_srt.loc["Lahore":"Moscow"])

# Subset rows from Pakistan, Lahore to Russia, Moscow
print(temperatures_srt.loc[("Pakistan", "Lahore"):("Russia", "Moscow")])

                                 date  avg_temp_c
country  city
Pakistan Faisalabad        2000-01-01      12.792
         Faisalabad        2000-02-01      14.339
         Faisalabad        2000-03-01      20.309
         Faisalabad        2000-04-01      29.072
         Faisalabad        2000-05-01      34.845
         Faisalabad        2000-06-01      34.299
         Faisalabad        2000-07-01      32.302
         Faisalabad        2000-08-01      32.255
         Faisalabad        2000-09-01      30.438
         Faisalabad        2000-10-01      27.395
         Faisalabad        2000-11-01      20.640
         Faisalabad        2000-12-01      15.195
         Faisalabad        2001-01-01      11.853
         Faisalabad        2001-02-01      16.701
         Faisalabad        2001-03-01      21.885
         Faisalabad        2001-04-01      26.814
         Faisalabad        2001-05-01      33.924
         Faisalabad        2001-06-01      32.882
         Faisalabad        2001-07-01      32.091
         Faisalabad        2001-08-01      32.562
         Faisalabad        2001-09-01      30.615
         Faisalabad        2001-10-01      27.015
         Faisalabad        2001-11-01      20.501
         Faisalabad        2001-12-01      15.306
         Faisalabad        2002-01-01      12.844
         Faisalabad        2002-02-01      15.569
         Faisalabad        2002-03-01      22.269
         Faisalabad        2002-04-01      28.641
         Faisalabad        2002-05-01      34.396
         Faisalabad        2002-06-01      34.613
...                               ...         ...
Russia   Saint Petersburg  2011-04-01       4.146
         Saint Petersburg  2011-05-01       9.442
         Saint Petersburg  2011-06-01      15.823
         Saint Petersburg  2011-07-01      20.389
         Saint Petersburg  2011-08-01      16.426
         Saint Petersburg  2011-09-01      12.704
         Saint Petersburg  2011-10-01       7.691
         Saint Petersburg  2011-11-01       4.454
         Saint Petersburg  2011-12-01       2.647
         Saint Petersburg  2012-01-01      -5.211
         Saint Petersburg  2012-02-01     -10.957
         Saint Petersburg  2012-03-01      -1.624
         Saint Petersburg  2012-04-01       2.877
         Saint Petersburg  2012-05-01      10.349
         Saint Petersburg  2012-06-01      12.955
         Saint Petersburg  2012-07-01      17.733
         Saint Petersburg  2012-08-01      15.219
         Saint Petersburg  2012-09-01      12.251
         Saint Petersburg  2012-10-01       6.208
         Saint Petersburg  2012-11-01       3.448
         Saint Petersburg  2012-12-01      -7.316
         Saint Petersburg  2013-01-01      -6.218
         Saint Petersburg  2013-02-01      -3.228
         Saint Petersburg  2013-03-01      -8.178
         Saint Petersburg  2013-04-01       2.167
         Saint Petersburg  2013-05-01      12.355
         Saint Petersburg  2013-06-01      17.185
         Saint Petersburg  2013-07-01      17.234
         Saint Petersburg  2013-08-01      17.153
         Saint Petersburg  2013-09-01         NaN

[1155 rows x 2 columns]
                          date  avg_temp_c
country city
Mexico  Mexico      2000-01-01      12.694
        Mexico      2000-02-01      14.677
        Mexico      2000-03-01      17.376
        Mexico      2000-04-01      18.294
        Mexico      2000-05-01      18.562
        Mexico      2000-06-01      17.270
        Mexico      2000-07-01      17.723
        Mexico      2000-08-01      16.967
        Mexico      2000-09-01      16.996
        Mexico      2000-10-01      15.605
        Mexico      2000-11-01      15.237
        Mexico      2000-12-01      11.966
        Mexico      2001-01-01      12.733
        Mexico      2001-02-01      14.461
        Mexico      2001-03-01      15.926
        Mexico      2001-04-01      18.156
        Mexico      2001-05-01      18.121
        Mexico      2001-06-01      17.809
        Mexico      2001-07-01      17.571
        Mexico      2001-08-01      17.710
        Mexico      2001-09-01      16.960
        Mexico      2001-10-01      15.281
        Mexico      2001-11-01      13.861
        Mexico      2001-12-01      13.157
        Mexico      2002-01-01      12.965
        Mexico      2002-02-01      13.622
        Mexico      2002-03-01      17.116
        Mexico      2002-04-01      18.396
        Mexico      2002-05-01      19.608
        Mexico      2002-06-01      18.479
...                        ...         ...
Morocco Casablanca  2011-04-01      17.895
        Casablanca  2011-05-01      21.258
        Casablanca  2011-06-01      25.375
        Casablanca  2011-07-01      26.377
        Casablanca  2011-08-01      26.832
        Casablanca  2011-09-01      24.017
        Casablanca  2011-10-01      20.498
        Casablanca  2011-11-01      14.384
        Casablanca  2011-12-01      10.716
        Casablanca  2012-01-01       9.267
        Casablanca  2012-02-01       9.012
        Casablanca  2012-03-01      15.032
        Casablanca  2012-04-01      14.457
        Casablanca  2012-05-01      21.708
        Casablanca  2012-06-01      24.682
        Casablanca  2012-07-01      28.219
        Casablanca  2012-08-01      27.487
        Casablanca  2012-09-01      23.689
        Casablanca  2012-10-01      19.567
        Casablanca  2012-11-01      14.821
        Casablanca  2012-12-01      10.995
        Casablanca  2013-01-01      10.686
        Casablanca  2013-02-01      11.204
        Casablanca  2013-03-01      14.071
        Casablanca  2013-04-01      16.050
        Casablanca  2013-05-01      19.217
        Casablanca  2013-06-01      23.649
        Casablanca  2013-07-01      27.488
        Casablanca  2013-08-01      27.952
        Casablanca  2013-09-01         NaN

[330 rows x 2 columns]
                       date  avg_temp_c
country  city
Pakistan Lahore  2000-01-01      12.792
         Lahore  2000-02-01      14.339
         Lahore  2000-03-01      20.309
         Lahore  2000-04-01      29.072
         Lahore  2000-05-01      34.845
         Lahore  2000-06-01      34.299
         Lahore  2000-07-01      32.302
         Lahore  2000-08-01      32.255
         Lahore  2000-09-01      30.438
         Lahore  2000-10-01      27.395
         Lahore  2000-11-01      20.640
         Lahore  2000-12-01      15.195
         Lahore  2001-01-01      11.853
         Lahore  2001-02-01      16.701
         Lahore  2001-03-01      21.885
         Lahore  2001-04-01      26.814
         Lahore  2001-05-01      33.924
         Lahore  2001-06-01      32.882
         Lahore  2001-07-01      32.091
         Lahore  2001-08-01      32.562
         Lahore  2001-09-01      30.615
         Lahore  2001-10-01      27.015
         Lahore  2001-11-01      20.501
         Lahore  2001-12-01      15.306
         Lahore  2002-01-01      12.844
         Lahore  2002-02-01      15.569
         Lahore  2002-03-01      22.269
         Lahore  2002-04-01      28.641
         Lahore  2002-05-01      34.396
         Lahore  2002-06-01      34.613
...                     ...         ...
Russia   Moscow  2011-04-01       5.729
         Moscow  2011-05-01      13.982
         Moscow  2011-06-01      18.437
         Moscow  2011-07-01      22.434
         Moscow  2011-08-01      18.149
         Moscow  2011-09-01      11.812
         Moscow  2011-10-01       5.926
         Moscow  2011-11-01      -0.344
         Moscow  2011-12-01      -0.868
         Moscow  2012-01-01      -7.713
         Moscow  2012-02-01     -12.533
         Moscow  2012-03-01      -3.467
         Moscow  2012-04-01       7.247
         Moscow  2012-05-01      14.592
         Moscow  2012-06-01      16.333
         Moscow  2012-07-01      20.001
         Moscow  2012-08-01      17.395
         Moscow  2012-09-01      12.509
         Moscow  2012-10-01       6.061
         Moscow  2012-11-01       1.076
         Moscow  2012-12-01      -9.090
         Moscow  2013-01-01      -9.230
         Moscow  2013-02-01      -4.726
         Moscow  2013-03-01      -7.497
         Moscow  2013-04-01       5.353
         Moscow  2013-05-01      16.152
         Moscow  2013-06-01      18.718
         Moscow  2013-07-01      18.136
         Moscow  2013-08-01      17.485
         Moscow  2013-09-01         NaN

[660 rows x 2 columns]

## Slicing in both directions

In [17]:
# Subset rows from India, Hyderabad to Iraq, Baghdad
print(temperatures_srt.loc[("India", "Hyderabad"): ("Iraq","Baghdad")])

# Subset columns from date to avg_temp_c
print(temperatures_srt.loc[:,"date":"avg_temp_c"])

# Subset in both directions at once
print(temperatures_srt.loc[("India", "Hyderabad"): ("Iraq","Baghdad"),"date":"avg_temp_c"])

                         date  avg_temp_c
country city
India   Hyderabad  2000-01-01      23.779
        Hyderabad  2000-02-01      25.826
        Hyderabad  2000-03-01      28.821
        Hyderabad  2000-04-01      32.698
        Hyderabad  2000-05-01      32.438
        Hyderabad  2000-06-01      28.422
        Hyderabad  2000-07-01      27.137
        Hyderabad  2000-08-01      26.576
        Hyderabad  2000-09-01      27.433
        Hyderabad  2000-10-01      26.927
        Hyderabad  2000-11-01      24.776
        Hyderabad  2000-12-01      21.949
        Hyderabad  2001-01-01      23.406
        Hyderabad  2001-02-01      26.677
        Hyderabad  2001-03-01      29.393
        Hyderabad  2001-04-01      31.289
        Hyderabad  2001-05-01      34.030
        Hyderabad  2001-06-01      29.432
        Hyderabad  2001-07-01      28.309
        Hyderabad  2001-08-01      26.670
        Hyderabad  2001-09-01      27.698
        Hyderabad  2001-10-01      25.955
        Hyderabad  2001-11-01      25.182
        Hyderabad  2001-12-01      22.621
        Hyderabad  2002-01-01      23.253
        Hyderabad  2002-02-01      25.942
        Hyderabad  2002-03-01      29.713
        Hyderabad  2002-04-01      32.571
        Hyderabad  2002-05-01      33.501
        Hyderabad  2002-06-01      29.717
...                       ...         ...
Iraq    Baghdad    2011-04-01      23.178
        Baghdad    2011-05-01      29.493
        Baghdad    2011-06-01      34.736
        Baghdad    2011-07-01      37.184
        Baghdad    2011-08-01      36.151
        Baghdad    2011-09-01      32.055
        Baghdad    2011-10-01      24.179
        Baghdad    2011-11-01      14.241
        Baghdad    2011-12-01      10.369
        Baghdad    2012-01-01       9.664
        Baghdad    2012-02-01      11.571
        Baghdad    2012-03-01      15.376
        Baghdad    2012-04-01      24.659
        Baghdad    2012-05-01      30.878
        Baghdad    2012-06-01      35.726
        Baghdad    2012-07-01      37.371
        Baghdad    2012-08-01      36.559
        Baghdad    2012-09-01      32.574
        Baghdad    2012-10-01      26.319
        Baghdad    2012-11-01      18.590
        Baghdad    2012-12-01      12.851
        Baghdad    2013-01-01      11.518
        Baghdad    2013-02-01      14.889
        Baghdad    2013-03-01      17.636
        Baghdad    2013-04-01      22.769
        Baghdad    2013-05-01      28.673
        Baghdad    2013-06-01      33.803
        Baghdad    2013-07-01      36.392
        Baghdad    2013-08-01      35.463
        Baghdad    2013-09-01         NaN

[2145 rows x 2 columns]
                          date  avg_temp_c
country     city
Afghanistan Kabul   2000-01-01       3.326
            Kabul   2000-02-01       3.454
            Kabul   2000-03-01       9.612
            Kabul   2000-04-01      17.925
            Kabul   2000-05-01      24.658
            Kabul   2000-06-01      25.582
            Kabul   2000-07-01      26.107
            Kabul   2000-08-01      25.459
            Kabul   2000-09-01      22.116
            Kabul   2000-10-01      16.806
            Kabul   2000-11-01       9.720
            Kabul   2000-12-01       5.107
            Kabul   2001-01-01       2.208
            Kabul   2001-02-01       5.567
            Kabul   2001-03-01      10.807
            Kabul   2001-04-01      16.587
            Kabul   2001-05-01      23.782
            Kabul   2001-06-01      25.905
            Kabul   2001-07-01      26.065
            Kabul   2001-08-01      25.149
            Kabul   2001-09-01      21.178
            Kabul   2001-10-01      16.552
            Kabul   2001-11-01      10.731
            Kabul   2001-12-01       5.644
            Kabul   2002-01-01       3.432
            Kabul   2002-02-01       4.735
            Kabul   2002-03-01      11.382
            Kabul   2002-04-01      15.668
            Kabul   2002-05-01      21.992
            Kabul   2002-06-01      25.957
...                        ...         ...
Zimbabwe    Harare  2011-04-01      21.151
            Harare  2011-05-01      19.022
            Harare  2011-06-01      16.512
            Harare  2011-07-01      15.315
            Harare  2011-08-01      17.287
            Harare  2011-09-01      22.377
            Harare  2011-10-01      24.353
            Harare  2011-11-01      24.380
            Harare  2011-12-01      22.857
            Harare  2012-01-01      22.334
            Harare  2012-02-01      22.943
            Harare  2012-03-01      22.254
            Harare  2012-04-01      19.129
            Harare  2012-05-01      18.853
            Harare  2012-06-01      16.119
            Harare  2012-07-01      15.406
            Harare  2012-08-01      18.191
            Harare  2012-09-01      22.206
            Harare  2012-10-01      22.692
            Harare  2012-11-01      23.474
            Harare  2012-12-01      22.679
            Harare  2013-01-01      22.235
            Harare  2013-02-01      22.737
            Harare  2013-03-01      22.051
            Harare  2013-04-01      20.180
            Harare  2013-05-01      18.298
            Harare  2013-06-01      17.020
            Harare  2013-07-01      16.299
            Harare  2013-08-01      19.232
            Harare  2013-09-01         NaN

[16500 rows x 2 columns]
                         date  avg_temp_c
country city
India   Hyderabad  2000-01-01      23.779
        Hyderabad  2000-02-01      25.826
        Hyderabad  2000-03-01      28.821
        Hyderabad  2000-04-01      32.698
        Hyderabad  2000-05-01      32.438
        Hyderabad  2000-06-01      28.422
        Hyderabad  2000-07-01      27.137
        Hyderabad  2000-08-01      26.576
        Hyderabad  2000-09-01      27.433
        Hyderabad  2000-10-01      26.927
        Hyderabad  2000-11-01      24.776
        Hyderabad  2000-12-01      21.949
        Hyderabad  2001-01-01      23.406
        Hyderabad  2001-02-01      26.677
        Hyderabad  2001-03-01      29.393
        Hyderabad  2001-04-01      31.289
        Hyderabad  2001-05-01      34.030
        Hyderabad  2001-06-01      29.432
        Hyderabad  2001-07-01      28.309
        Hyderabad  2001-08-01      26.670
        Hyderabad  2001-09-01      27.698
        Hyderabad  2001-10-01      25.955
        Hyderabad  2001-11-01      25.182
        Hyderabad  2001-12-01      22.621
        Hyderabad  2002-01-01      23.253
        Hyderabad  2002-02-01      25.942
        Hyderabad  2002-03-01      29.713
        Hyderabad  2002-04-01      32.571
        Hyderabad  2002-05-01      33.501
        Hyderabad  2002-06-01      29.717
...                       ...         ...
Iraq    Baghdad    2011-04-01      23.178
        Baghdad    2011-05-01      29.493
        Baghdad    2011-06-01      34.736
        Baghdad    2011-07-01      37.184
        Baghdad    2011-08-01      36.151
        Baghdad    2011-09-01      32.055
        Baghdad    2011-10-01      24.179
        Baghdad    2011-11-01      14.241
        Baghdad    2011-12-01      10.369
        Baghdad    2012-01-01       9.664
        Baghdad    2012-02-01      11.571
        Baghdad    2012-03-01      15.376
        Baghdad    2012-04-01      24.659
        Baghdad    2012-05-01      30.878
        Baghdad    2012-06-01      35.726
        Baghdad    2012-07-01      37.371
        Baghdad    2012-08-01      36.559
        Baghdad    2012-09-01      32.574
        Baghdad    2012-10-01      26.319
        Baghdad    2012-11-01      18.590
        Baghdad    2012-12-01      12.851
        Baghdad    2013-01-01      11.518
        Baghdad    2013-02-01      14.889
        Baghdad    2013-03-01      17.636
        Baghdad    2013-04-01      22.769
        Baghdad    2013-05-01      28.673
        Baghdad    2013-06-01      33.803
        Baghdad    2013-07-01      36.392
        Baghdad    2013-08-01      35.463
        Baghdad    2013-09-01         NaN

[2145 rows x 2 columns]

## Slicing time series

In [21]:
temperatures.head()

         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547

In [43]:
# Use Boolean conditions to subset temperatures for rows in 2010 and 2011
print(temperatures[(temperatures["date"]>="2010-01-01") & (temperatures["date"]<="2011-12-31")])

# Set date as an index
temperatures_ind = temperatures.set_index("date").sort_index()

# Use .loc[] to subset temperatures_ind for rows in 2010 and 2011
print(temperatures_ind.loc["2010":"2011"])

# Use .loc[] to subset temperatures_ind for rows from Aug 2010 to Feb 2011
print(temperatures_ind.loc["2010-08":"2011-02"])

             date         city        country  avg_temp_c
120    2010-01-01      Abidjan  Côte D'Ivoire      28.270
121    2010-02-01      Abidjan  Côte D'Ivoire      29.262
122    2010-03-01      Abidjan  Côte D'Ivoire      29.596
123    2010-04-01      Abidjan  Côte D'Ivoire      29.068
124    2010-05-01      Abidjan  Côte D'Ivoire      28.258
125    2010-06-01      Abidjan  Côte D'Ivoire      26.683
126    2010-07-01      Abidjan  Côte D'Ivoire      25.589
127    2010-08-01      Abidjan  Côte D'Ivoire      25.400
128    2010-09-01      Abidjan  Côte D'Ivoire      25.710
129    2010-10-01      Abidjan  Côte D'Ivoire      26.397
130    2010-11-01      Abidjan  Côte D'Ivoire      27.446
131    2010-12-01      Abidjan  Côte D'Ivoire      27.666
132    2011-01-01      Abidjan  Côte D'Ivoire      27.360
133    2011-02-01      Abidjan  Côte D'Ivoire      28.295
134    2011-03-01      Abidjan  Côte D'Ivoire      28.922
135    2011-04-01      Abidjan  Côte D'Ivoire      28.754
136    2011-05-01      Abidjan  Côte D'Ivoire      27.809
137    2011-06-01      Abidjan  Côte D'Ivoire      26.427
138    2011-07-01      Abidjan  Côte D'Ivoire      25.302
139    2011-08-01      Abidjan  Côte D'Ivoire      24.824
140    2011-09-01      Abidjan  Côte D'Ivoire      25.405
141    2011-10-01      Abidjan  Côte D'Ivoire      26.388
142    2011-11-01      Abidjan  Côte D'Ivoire      27.531
143    2011-12-01      Abidjan  Côte D'Ivoire      27.194
285    2010-01-01  Addis Abeba       Ethiopia      18.390
286    2010-02-01  Addis Abeba       Ethiopia      18.931
287    2010-03-01  Addis Abeba       Ethiopia      20.102
288    2010-04-01  Addis Abeba       Ethiopia      19.876
289    2010-05-01  Addis Abeba       Ethiopia      19.646
290    2010-06-01  Addis Abeba       Ethiopia      18.397
...           ...          ...            ...         ...
16308  2011-07-01        Wuhan          China      29.765
16309  2011-08-01        Wuhan          China      28.297
16310  2011-09-01        Wuhan          China      23.784
16311  2011-10-01        Wuhan          China      18.326
16312  2011-11-01        Wuhan          China      15.259
16313  2011-12-01        Wuhan          China       5.811
16455  2010-01-01         Xian          China      -0.237
16456  2010-02-01         Xian          China       2.581
16457  2010-03-01         Xian          China       6.969
16458  2010-04-01         Xian          China      11.377
16459  2010-05-01         Xian          China      18.365
16460  2010-06-01         Xian          China      23.357
16461  2010-07-01         Xian          China      25.722
16462  2010-08-01         Xian          China      23.434
16463  2010-09-01         Xian          China      19.630
16464  2010-10-01         Xian          China      12.292
16465  2010-11-01         Xian          China       6.742
16466  2010-12-01         Xian          China       0.845
16467  2011-01-01         Xian          China      -4.811
16468  2011-02-01         Xian          China       2.430
16469  2011-03-01         Xian          China       5.924
16470  2011-04-01         Xian          China      14.876
16471  2011-05-01         Xian          China      18.225
16472  2011-06-01         Xian          China      23.879
16473  2011-07-01         Xian          China      24.895
16474  2011-08-01         Xian          China      23.069
16475  2011-09-01         Xian          China      16.775
16476  2011-10-01         Xian          China      12.587
16477  2011-11-01         Xian          China       7.543
16478  2011-12-01         Xian          China      -0.490

[2400 rows x 4 columns]
                      city       country  avg_temp_c
date
2010-01-01      Faisalabad      Pakistan      11.810
2010-01-01       Melbourne     Australia      20.016
2010-01-01       Chongqing         China       7.921
2010-01-01       São Paulo        Brazil      23.738
2010-01-01       Guangzhou         China      14.136
2010-01-01           Lagos       Nigeria      27.830
2010-01-01           Delhi         India      14.014
2010-01-01            Lima          Peru      20.450
2010-01-01         Mashhad          Iran       4.746
2010-01-01           Dakar       Senegal      23.188
2010-01-01           Dhaka    Bangladesh      17.354
2010-01-01  Belo Horizonte        Brazil      24.349
2010-01-01        Brasília        Brazil      23.417
2010-01-01       Mogadishu       Somalia      27.520
2010-01-01          Berlin       Germany      -4.702
2010-01-01        Calcutta         India      17.503
2010-01-01            Kiev       Ukraine      -9.968
2010-01-01          Moscow        Russia     -15.846
2010-01-01          Mexico        Mexico      11.607
2010-01-01           Cairo         Egypt      15.835
2010-01-01           Surat         India      21.461
2010-01-01          Bombay         India      26.120
2010-01-01   Dar Es Salaam      Tanzania      28.256
2010-01-01          Riyadh  Saudi Arabia      16.055
2010-01-01        Montreal        Canada      -7.611
2010-01-01          Madrid         Spain       3.443
2010-01-01         Lakhnau         India      13.147
2010-01-01          Dalian         China      -5.459
2010-01-01           Seoul   South Korea      -4.935
2010-01-01        Istanbul        Turkey       6.212
...                    ...           ...         ...
2010-12-01        Montreal        Canada      -6.906
2010-12-01          Mexico        Mexico      11.375
2010-12-01            Cali      Colombia      21.238
2010-12-01       Hyderabad         India      22.234
2010-12-01         Toronto        Canada      -5.594
2010-12-01        Surabaya     Indonesia      26.735
2010-12-01          Lahore      Pakistan      13.539
2010-12-01           Tokyo         Japan       5.719
2010-12-01          Berlin       Germany      -4.412
2010-12-01          Peking         China      -1.778
2010-12-01         Chengdu         China       1.550
2010-12-01            Pune         India      20.091
2010-12-01          Madrid         Spain       4.022
2010-12-01         Nairobi         Kenya      17.069
2010-12-01          Ankara        Turkey       4.582
2010-12-01      Casablanca       Morocco      13.236
2010-12-01       Bangalore         India      22.719
2010-12-01          Luanda        Angola      24.044
2010-12-01            Xian         China       0.845
2010-12-01       New Delhi         India      15.393
2010-12-01          Jaipur         India      16.214
2010-12-01       Fortaleza        Brazil      28.277
2010-12-01     Addis Abeba      Ethiopia      17.080
2010-12-01        Shenyang         China      -8.517
2010-12-01       Chongqing         China       7.941
2010-12-01         Jakarta     Indonesia      26.602
2010-12-01           Gizeh         Egypt      16.530
2010-12-01          Nagpur         India      19.120
2010-12-01          Sydney     Australia      19.559
2010-12-01        Salvador        Brazil      26.265

[1200 rows x 3 columns]
                        city        country  avg_temp_c
date
2010-08-01          Calcutta          India      30.226
2010-08-01              Pune          India      24.941
2010-08-01             Izmir         Turkey      28.352
2010-08-01           Tianjin          China      25.543
2010-08-01            Manila    Philippines      27.101
2010-08-01            Sydney      Australia      14.817
2010-08-01            Lahore       Pakistan      31.180
2010-08-01            Luanda         Angola      21.680
2010-08-01              Rome          Italy      22.289
2010-08-01            Berlin        Germany      18.692
2010-08-01            Ankara         Turkey      26.044
2010-08-01       Addis Abeba       Ethiopia      17.037
2010-08-01             Wuhan          China      29.582
2010-08-01           Karachi       Pakistan      30.043
2010-08-01         Changchun          China      22.173
2010-08-01            Jiddah   Saudi Arabia      34.133
2010-08-01          Shenyang          China      23.230
2010-08-01            Mexico         Mexico      17.996
2010-08-01            Madrid          Spain      22.934
2010-08-01            Dalian          China      23.929
2010-08-01           Chengdu          China      19.915
2010-08-01          Brasília         Brazil      21.876
2010-08-01        Umm Durman          Sudan      30.628
2010-08-01         Mogadishu        Somalia      26.784
2010-08-01             Surat          India      27.870
2010-08-01           Jakarta      Indonesia      27.093
2010-08-01         Cape Town   South Africa      13.461
2010-08-01       Los Angeles  United States      23.545
2010-08-01             Dakar        Senegal      29.053
2010-08-01          Santiago          Chile       0.320
...                      ...            ...         ...
2011-01-01            Nagpur          India      18.337
2011-01-01           Jakarta      Indonesia      26.558
2011-01-01         Changchun          China     -19.623
2011-01-01           Abidjan  Côte D'Ivoire      27.360
2011-01-01          Tangshan          China      -5.277
2011-01-01            Riyadh   Saudi Arabia      16.124
2011-01-01        Umm Durman          Sudan      22.254
2011-01-01             Izmir         Turkey      10.652
2011-01-01            Ibadan        Nigeria      27.290
2011-01-01              Rome          Italy       3.928
2011-01-01            Madrid          Spain       4.232
2011-01-01             Wuhan          China       1.496
2011-01-01           Chengdu          China      -1.447
2011-01-01            Dalian          China      -6.268
2011-01-01             Cairo          Egypt      14.397
2011-01-01          Istanbul         Turkey       5.689
2011-01-01            Jaipur          India      14.783
2011-01-01             Tokyo          Japan       0.817
2011-01-01         New Delhi          India      13.376
2011-01-01           Toronto         Canada      -9.348
2011-01-01  Ho Chi Minh City        Vietnam      25.985
2011-01-01           Tianjin          China      -5.667
2011-01-01         São Paulo         Brazil      23.878
2011-01-01            Aleppo          Syria       6.789
2011-01-01          Brasília         Brazil      22.892
2011-01-01     Dar Es Salaam       Tanzania      28.541
2011-01-01           Nairobi          Kenya      17.768
2011-01-01       Addis Abeba       Ethiopia      17.708
2011-01-01           Nanjing          China       0.144
2011-01-01          New York  United States      -4.463

[600 rows x 3 columns]

## Subsetting by row/column number

In [58]:
# Get 23rd row, 2nd column (index 22, 1)
print(temperatures.iloc[22,1])

# Use slicing to get the first 5 rows
print(temperatures.iloc[:5,:])

# Use slicing to get columns 3 to 4
print(temperatures.iloc[:,2:4])

# Use slicing in both directions at once
print(temperatures.iloc[:5, 2:4])

Abidjan
         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547
             country  avg_temp_c
0      Côte D'Ivoire      27.293
1      Côte D'Ivoire      27.685
2      Côte D'Ivoire      29.061
3      Côte D'Ivoire      28.162
4      Côte D'Ivoire      27.547
5      Côte D'Ivoire      25.812
6      Côte D'Ivoire      24.870
7      Côte D'Ivoire      24.884
8      Côte D'Ivoire      25.405
9      Côte D'Ivoire      26.074
10     Côte D'Ivoire      27.315
11     Côte D'Ivoire      26.929
12     Côte D'Ivoire      26.920
13     Côte D'Ivoire      28.234
14     Côte D'Ivoire      28.706
15     Côte D'Ivoire      27.702
16     Côte D'Ivoire      27.653
17     Côte D'Ivoire      25.940
18     Côte D'Ivoire      24.841
19     Côte D'Ivoire      24.280
20     Côte D'Ivoire      24.797
21     Côte D'Ivoire      26.278
22     Côte D'Ivoire      27.374
23     Côte D'Ivoire      27.598
24     Côte D'Ivoire      27.192
25     Côte D'Ivoire      28.796
26     Côte D'Ivoire      28.564
27     Côte D'Ivoire      28.508
28     Côte D'Ivoire      27.721
29     Côte D'Ivoire      25.972
...              ...         ...
16470          China      14.876
16471          China      18.225
16472          China      23.879
16473          China      24.895
16474          China      23.069
16475          China      16.775
16476          China      12.587
16477          China       7.543
16478          China      -0.490
16479          China      -2.416
16480          China       0.162
16481          China       6.430
16482          China      14.908
16483          China      19.041
16484          China      22.781
16485          China      24.646
16486          China      23.885
16487          China      17.028
16488          China      12.399
16489          China       4.736
16490          China      -0.822
16491          China      -1.635
16492          China       2.362
16493          China      10.110
16494          China      12.563
16495          China      18.979
16496          China      23.522
16497          China      25.251
16498          China      24.528
16499          China         NaN

[16500 rows x 2 columns]
         country  avg_temp_c
0  Côte D'Ivoire      27.293
1  Côte D'Ivoire      27.685
2  Côte D'Ivoire      29.061
3  Côte D'Ivoire      28.162
4  Côte D'Ivoire      27.547

# Working with pivot tables